body {
  text-align: center;
  font-family: "Grandstander", cursive;
}

.header {
  background-color: skyblue;
  color: white;
  padding: 2em;
  margin-bottom: 1em;
}

ul.level-select {
  list-style: none;
}

.sequence {
  margin-bottom: 2em;
}

.sequence-number {
  padding: 0.5em;
  margin: 0.1em;
  border-radius: 0.1em;
  display: inline-block;
  min-width: 2em;
  font-size: 2em;
  background-color: whitesmoke;
  border: 1px solid grey;
  box-shadow: 0.1em 0.1em 0.1em grey;
}
